<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Price Tracker Sample</title>
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
  <link rel="stylesheet" th:href="@{/css/tabler-icons.css}">
  <link rel="stylesheet" th:href="@{/css/tabler.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

  <script th:src="@{/js/tabler.js}" defer></script>
  <script th:src="@{/js/bootstrap.js}" defer></script>

</head>
</html>